body {
	font-family: Arial, sans-serif;
	background-color:#092635;
	color:#e0e0e0;
	
}

h1 {
	text-align: center;
	color: #333;
}

.content {
	display:flex;
	gap:0.75rem;
}

.form-wrapper {
	flex:1;
	min-width:400px;
}

.container {
	padding:1em;
}

textarea {
	color:#e0e0e0;
	resize:auto;
	white-space:pre;
	font-family:monospace;
	width:400px;
	height:100%;
}
.col {
	padding:0 !important;
}
.btn {
	color:#e0e0e0 !important;
	background-color:#1B4242 !important
}

#formContainer {
	padding:1em;
	color:#e0e0e0;
	background-color:#1B4242
}

.repeatable-row-step {
	padding:1em;
	color:#e0e0e0;
	background-color:#5C8374
}

input {
	display:inline-block;
}

.select-wrapper {
	color:#e0e0e0 !important;
	width:auto !important;
	display: inline-block !important;
	white-space:nowrap !important;
}

.select-text-holder {
	position:absolute;
	visibility:hidden;
	white-space:nowrap;
}

.columns {
	padding:1em;
	color:#e0e0e0;
	background-color:#1B4242;
	margin-bottom:0.5em;

}
.group-by {
	padding:1em;
	color:#e0e0e0;
	background-color:#1B4242;
	margin-bottom:0.5em;
}
.order-by {
	padding:1em;
	color:#e0e0e0;
	background-color:#1B4242;
	margin-bottom:0.5em;
}
.conditions {
	padding:1em;
	color:#e0e0e0;
	background-color:#1B4242;
	margin-bottom:0.5em;
}
.limit {
	padding:1em;
	color:#e0e0e0;
	background-color:#1B4242;
	margin-bottom:0.5em;
}
.repeatable-row {
	margin:0.5em;
	padding:0.5em;
	color:#e0e0e0;
	background-color:#5C8374;
}
.repeatable-row-inline {
	margin:0.5em;
	padding:0.5em;
	color:#e0e0e0;
	background-color:#5C8374;
	display:flex;
}


