.table-div {
	padding:1em;
}

.dt-input{
	border-right: none !important;
	border-left: none !important;
	border-top: none !important;
	box-shadow: none !important;
}
.dt-paging-button,
.dt-paging > nav {
	background-color: #1B4242 !important;
}
table.striped > tbody > tr:nth-child(odd) {
	background-color:#092635;
	filter: brightness(1.18); 
}
table {
	box-shadow: 1px 1px 10px black;
}


